<%# <h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p> %>

<h1>Articous</h1>

Nois tem <%= Article.public_count %> articous

<ul>
   <% @articles.each do |article| %>
      <% unless article.archived? %>
         <li>
            <%= link_to article.title, article %>
         </li>
      <% end %>
   <% end %>
</ul>

<%= link_to "New Article", new_article_path %>